@import "./App.scss";

.footer {
    min-height: 15.5rem;
    height: 15.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    //margin-top: 4rem;
    margin-top: auto;

    @media only screen and (max-width: $medium) {
        font-size: 1.2rem;
        flex-wrap: wrap;
        align-content: center;
    }

    &__link {
        padding-left: .3rem;

        &:visited,
        &:link,
        &:active {
            color: $desaturatedDarkCyan;
        }

        &:hover,
        &:focus {
            filter: brightness(75%);
            text-decoration: underline;
        }
    }
}